<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello mate!</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <h1 class="title">Ready for today?</h1>
    <div class="subtitle">
      <p>RFID-WMS is a handy tool helping you do the trivial work.</p>
      <p>
        Let's go straight forward! Click to <a href="{{route('login')}}">login to your warehouse!</a>.
      </p>
    </div>
  </section>
</body>
</html>
