<div class="form-group">
   <label for="{{name}}">{{label}}</label>
   <input 
     type="{{ type || 'text'}}" 
     class="form-control  {{ hasErrorFor(name) ? 'is-invalid' : ''}}"
     value="{{ old(name, '') }}" 
     name= "{{ name }}"
     placeholder="{{ placeholder }}">
     {{ elIf('<div class="invalid-feedback">$self</div>', getErrorFor(name), hasErrorFor(name)) }}
</div>