@layout('layouts.main')
@section('content')
<div class="container" style="padding-top:5vh;">
@loggedIn
@!include('components.dashboards.admin')
@else
<div class="row"><div class="col-md-12 text-center">
  <p style="padding-top:30vh;">
    <h1>
      Please Login.
    </h1>
  </p>
</div></div>
@endloggedIn
</div>
@endsection