{{ script('public-css/popper.min.js') }}
    <!-- Popper is required by the current version of bootstrap to fullfill some of the functions-->
    {{ script('public-css/jquery.min.js') }}
    {{ script('public-css/jquery-ui.min.js') }}
    {{ script('public-css/all.min.js') }}
    {{ script('public-css/bootstrap.min.js') }}
    {{ script('public-css/axios.min.js') }}
    {{ script('public-css/vue.js') }}
  </div>
</body>

</html>
